.blog-content h2 {
    font-size: 1.875rem; /* 30px */
    font-weight: 700;
    margin-top: 2em;
    margin-bottom: 1em;
    line-height: 1.3;
}

.blog-content p {
    font-size: 1.125rem; /* 18px */
    line-height: 1.7;
    margin-bottom: 1.5em;
    color: #374151; /* gray-700 */
}
